html, body,h1,h3,p,ul,li { margin: 0; padding: 0; }
html { background: #f9f9f9; }
body { padding: 20px; font: normal 14px/20px helvetica,arial,sans-serif; }
#content { display: block; width: 600px; margin: 20px auto 140px; }
.clr { overflow: hidden; zoom: 1; }
.left { float: left; margin-right: 10px; }
.right { float: right; margin-left: 10px; }
a { color: #3681b3; text-decoration: none; }
a:hover { color: #265c80; }
a:active { color: #000; }
h1 { margin-bottom: 20px; font-size: 26px; line-height: 40px; }
ul { margin-bottom: 20px; }
li { list-style: none; float: left; margin: 0 10px 10px 0; outline: 1px solid #ddd; background: #fff; }
li img { vertical-align: middle; }
p, pre { font-size: 16px; line-height: 24px; margin-bottom: 24px; }
pre { background: #eee; padding: 16px 0; border-radius: 2px; }
h3 { font-size: 16px; font-weight: bold; margin-bottom: 24px; padding-top: 24px; }


html { position: relative; min-height: 100%; }
body:after {
    content: "";
    position: absolute;
    left: -6px;
    bottom: 0;
    width: 214px;
    height: 90px;
    background: transparent url("http://mrcoles.com/media/img/sea-serpent-cutout.png") no-repeat 0 0;
}
