
#slide-show {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 999;
    background: #111;
    text-align: center;
}

#slide-show.show {
    display: block;
}

#slide-show img {
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#slide-show .prev {
    position: fixed;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;

    opacity: 0;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

#slide-show .prev:hover {
    opacity: 1;
}

#slide-show .prev:focus {
    outline: none;
}

#slide-show .prev em {
    position: absolute;
    display: block;
    left: 10%;
    top: 50%;
    margin-top: -43px;
    width: 60px;
    height: 86px;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    text-indent: 120%;
    overflow: hidden;
}

#slide-show .prev em:after {
    position: absolute;
    top: 13px;
    left: 15px;
    content: "";
    width: 0;
    height: 0;
    border-color: transparent #111 transparent transparent;
    border-width: 30px 30px 30px 0;
    border-style: solid;
}

#slide-show .next {
    left: auto;
    right: 0;
}

#slide-show .next em {
    left: auto;
    right: 10%;
}

#slide-show .next em:after {
    border-color: transparent transparent transparent #111;
    border-width: 30px 0 30px 30px;
}
